<form class="example-form">
    <mat-form-field class="example-full-width" style='width: 100%' appearance="fill">
      <mat-label>Message</mat-label>
      <input 
        matInput  
        maxlength="256" 
        placeholder="Ex. The answer goes as..." 
        name='answer' 
        [(ngModel)]='answer' 
        [disabled]='isReadOnly'
      >
      <mat-hint align="end">{{answer.length}} / 256</mat-hint>
    </mat-form-field>
    <button mat-raised-button color='primary' *ngIf='answer.length != 0 && !isReadOnly' (click)="save(answer)">Save</button>
</form>