[hidden] {
    display:none !important;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.example-card {
    width: 400px;
    max-height: 80vh
}
  

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
}

.error  {
    color : red
}


.form-group{
    width: 100%;
    padding:12px 5px;
}


.item-actions {
    display: flex;
    justify-content: space-between;
}

.header {
    text-transform: capitalize;
}

.add-option-input, .edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit input {
    flex: 1;
    font-size: 16px;
    margin-right: 5px;
}

mat-list {
    max-height: 18vh;
    overflow-y: auto;
}

mat-radio-group {
    display: flex;
    justify-content: space-between;
}

mat-form-field {
    width: 100%;
}

.add-option-input mat-form-field {
    margin-right: 5px;
}





  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

@media screen and (max-width : 850px) {
    .example-card {
        width: 90%;
    }
}