<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink='/'>Questionnaire</span>
      <span class="example-spacer"></span>
      <mat-icon 
        matTooltip="Home"
        matTooltipPosition="below"
        class="example-icon" aria-hidden="false" aria-label="Example heart icon" routerLink='/'>home</mat-icon>
      <mat-icon 
        matTooltip="List"
        matTooltipPosition="below"
        class="example-icon" aria-hidden="false" aria-label="Example delete icon" routerLink='/questions/list'>list</mat-icon>
      <mat-icon 
        matTooltip="Create"
        matTooltipPosition="below"
        routerLink='/question/create'
        class="example-icon" aria-hidden="false" aria-label="Example delete icon">add</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>