
.question-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: hidden
}


.questions {
    padding:10px;
    flex: 1;
    border: 1px solid rgb(195, 191, 191);
    height: calc(100vh - 86px) !important;
    background: whitesmoke;
}


.cards{
    position: relative;
    overflow: auto;
    height: 95%;
}

.card {
    margin: 10px;
}

.no-question-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.no-question-left {
    text-align: center
}


mat-card-title {
    font-size: 20px
}

.navigate-buttons {
    display: none;
}


@media screen and (max-width: 600px) {
    .question-list {
        flex-direction: column;
    }

    .questions {
       height: unset;
    }

    .cards {
        min-height: 15vh
    }


    .navigate-buttons {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 99;
        display: flex;
        flex-direction: column;
    }
    

    .navigate-buttons button {
        display: block;
        margin: 5px;
        overflow: auto
    }   
}
