        <div class="no-question-added" *ngIf='questionList.length == 0'>
            <h2>No questions found! <a href="javascript:void(0)" routerLink='/question/create'>create one</a></h2>
        </div>




        <div class="question-list-box" *ngIf='questionList.length > 0'>
            <h1 class='section-head'>Manage Questions <span class='totalQuestions'>(Total {{questionList.length}})</span></h1>
            <div class="container" *ngFor='let question of questionList | sort:"id":-1; let i = index'>
                <div class="content">
                    <img src="{{question.type | questionTypeSymbol}}" alt="Avatar" style="width:90px">
                    <div class="text">
                        <p><span>{{i+1}}. {{question.question}} nach meri randi how are you randi nach meri randi please please naach meri randi</span></p>
                        <p>
                            <span>{{question.type}} - {{question.createdAt | date:"medium" }}</span>
                        </p>
                    </div>
                </div>
                <div class="action-buttons">
                    <button 
                        mat-mini-fab 
                        color="accent" 
                        aria-label="Example icon button with a menu icon"
                        [routerLink]='["/question", "edit", question.id]'
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button 
                        mat-mini-fab 
                        color="warn" 
                        aria-label="Example icon button with a menu icon" 
                        (click)='deleteQuestion(question.id)'
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>

