.question-list-box {
    display: flex;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    margin-bottom: 10px;
}

.card-action-buttons button {
    margin: 4px;
}

.no-question-added {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}