/* You can add global styles to this file, and also import other style files */
* {
    word-break: break-word;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.no-question-added {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-head {
    text-align: center;
}

a {
    text-decoration: none;
}


[hidden] {
    display:none !important;
}



